<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color:red
            }
        </style>
    </head>
<body>
    <a href="/">Home</a> &nbsp;
    <a href="blog">All Posts</a> &nbsp;
    <a href="newpost">New Post</a> &nbsp;
    <a href="login">Login</a> &nbsp;
    <a href="logout">Logout</a> &nbsp;
    
    {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category, message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>

    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>