{% extends "base.html" %}

{% block content %}
    <a href="blog">Main Blog Page</a> &nbsp;
    <a href="newpost">Add a Blog Entry</a>
    <p>
    <h1 style="text-align: center">Add a Blog Entry</h1>
    </p>
    <form method='post'>
        <label>
            Title for your new blog:<br>
            <input type="text" name='title' />
        </label>
    </form>
    <br>
    <br>
    <br>
    <form action="/blog" method='post'>
        <label>
            Your new blog: <br>
            <textarea name="body" style="width: 140px; height: 100px"></textarea>
        </label>
        <br>
        <br>
        <input type="submit" value='Add Entry' />
    </form>
    
    <hr />

{% endblock %}