{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='post'>
        <label>
            Title for your new blog:
            <input type="text" name='title' />
        </label>
    </form>
    <form method='post'>
        <label>
            Your new blog: 
            <input type="textarea" name="body" />
        </label>
        <input type="submit" value='Add Entry' />
    </form>
    <hr />

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.title}}
                <form method="POST" style="display:inline-block;">
                    <input type="hidden" name="task-id" value="{{task.id}}" />
                    <input type="submit" value="Done!" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    <h2></h2>

    <ul>
        {% for task in completed_tasks %}
        <li>{{task.name}}</li>
        {% endfor %}
    </ul>

{% endblock %}